:root {
    --bg: #4d4a4a;
    --pink: #ea3cea;
    --shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Atkinson Hyperlegible Next", serif;    
    min-height: 4000px;
}

.hero {
    min-height: 100vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./img/wedding-photo.jpg") center/cover no-repeat;
    z-index: -1;
    filter: grayscale(50%);
}

.hero h1, .hero h4, .hero p {
   text-shadow: var(--shadow);
}

.hero h1 {
    font-family: "Sacramento", cursive;
    font-size: 5rem;
}

.hero h4 {
    font-size: 1.7rem;
}

.hero p {
    font-size: 1.3rem;
}

.hero a {
    color: var(--pink);
    background-color: aliceblue;
    box-shadow: var(--shadow);
    margin: 1rem auto;
}

.hero a:hover {
    background-color: var(--pink);
    color: aliceblue;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.553) !important;
    backdrop-filter: blur(3px);
}

.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
    font-family: Sacramento, cursive;
    font-size: 3rem;
    font-weight: bold;
    color: var(--pink);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .offcanvas-body {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.mynavbar .nav-link {
    color: var(--pink);
}

.home {
    background-image: url("./img/pattern.png");
    padding: 2rem;
    margin-top: -6rem;
    padding-top: 10rem;
    min-height: 100vh;
}

.home h2 {
    font-size: 5rem;
    font-family: Sacramento, cursive;
    color: var(--pink);
    font-weight: bold;
}

.home h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #4d4a4a;
}

.home p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #3a3838;
}

.home .couple {
    margin-top: 5rem;

}

.home .couple h3 {
    font-family: Sacramento, cursive;
    font-size: 2.3rem;
    color: var(--pink);
    font-weight: bold;
}

.home .couple img {
    width: 100%;
}

.home .heart {
    width: 3rem;
    height: 3rem;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.553) !important;
    backdrop-filter: blur(3px) !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(4.6875rem);
}

.home .heart i {
    margin: auto;
    color: var(--pink);
}

.info {
    background-color: var(--bg);
    color: aliceblue;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.info h2,
.story h2 {
    font-size: 3rem;
    font-family: Sacramento, cursive;
    color: var(--pink);
    font-weight: bold;
}

.info .alamat {
    font-size: 1.2rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info .card {
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: aliceblue !important;
    backdrop-filter: blur(3px) !important;
    border: 2px solid #999;
    box-shadow: var(--shadow);
    margin: 1rem;
    transition: 0.3s ease-in-out;
}

.info .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0.7rem 10px rgba(0, 0, 0, 0.5);
}

.info .card-header {
    border-bottom: 2px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .card-body {
    font-size: 1rem;
}

.info .card-footer {
    border-top: 2px solid #999;
    font-size: 0.7rem;
}

.story {
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.story span {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--bg);
    letter-spacing: 0.065rem;
    display: block;
    margin-bottom: 1rem;
}

.story p {
    font-size: 1rem;
    font-weight: 300;
}

.timeline {
    position: relative;
    margin-top: 1rem;
    padding: 1.4rem 0;
    list-style: none;
}

.timeline::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: var(--bg);
}

.timeline li {
    position: relative;
    margin-bottom: 1.5rem;
}

.timeline li::before, .timeline li::after {
    content: '';
    display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    left: 50%;
    width: 10rem;
    height: 10rem;
    position: absolute;
    background-color: var(--bg);
    border-radius: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 0.13rem solid var(--bg);
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
}

.timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 1rem solid transparent;
    border-left: 1rem solid var(--bg);
    border-right: 0 solid var(--bg);
    border-bottom: 1rem solid transparent;
    top: 5rem;
    right: -1rem;
}

.timeline li .timeline-panel::after {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 0.87rem solid transparent;
    border-left: 0.87rem solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 0.87rem solid transparent;
    top: 5.18rem;
    right: -0.8rem;
}


@media (max-width: 1200px) {
    .home .heart {
        transform: translateX(-50%) translateY(2.8125rem);
    }
}


@media (max-width: 992px) {
    html {
        font-size: 95%;
    }

    .home .heart {
        display: none;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 85%;
    }

    .sticky-top {
        overflow: hidden; 
    }
}

@media (max-width: 576px) {
    html {
        font-size: 65%;
    }

    .simply-countdown > .simply-section {
        width: 55px;
        height: 55px;
        padding: 1rem;
      }
      .simply-countdown > .simply-section .simply-amount {
        font-size: 1.25rem;
      }
      .simply-countdown > .simply-section .simply-word {
        font-size: 0.75rem;
      }
}